body, html {
  width: 100%;
  margin: 0;
  background-color: #DAD8CC;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  height: 80%;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: 0 0 2px grey;
  height: 90%;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(172, 161, 131);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a17030;
}

.About {
  display: grid;
  grid-template-rows: 80px 1fr;
  background-color: #FFFCF6;
  padding: 1rem;
  transition: all 0.5s;
  box-shadow: 3px 3px 3px 2px #D1D1D1;
  min-height: fit-content;
  height: 85vh;
  overflow: hidden;
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 5% 1fr;
  place-items: center;
  padding: 2rem;
  gap: 1rem;
  margin-top: 5%;
  margin-bottom: 8%;
  min-height: fit-content;
  height: fit-content;
}

.section-items-conteiner {
  overflow: auto;
  scrollbar-width: none;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container img {
  width: 20vw;
  height: auto;
  box-shadow: 10px 10px 3px 2px #dad9d9;
}

.profile-image {
  width: 400px;
  transition: all 0.5s;
}

.line {
  margin: 0 10%;
  width: 4px;
  height: 90%;
  background: #BAB6A0;
}

h1 {
  font-size: 40px;
  transition: all 0.5s;
}

p {
  font-size: 20px;
  transition: all 0.5s;
}

.text-container {
  padding: 10px;
}

@media screen and (max-width: 1200px) {
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile-image {
    width: 300px;
  }
  .line {
    width: 3px;
    height: 90%;
  }
  h1 {
    font-size: 30px;
  }
  p {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .about-container {
    display: flex;
    flex-direction: column;
    gap: 70px;
  }
  .image-container img {
    width: 50vw;
  }
  .line {
    width: 90%;
    height: 3px;
  }
  .text-container {
    text-align: center;
    align-items: center;
    padding-top: 0;
  }
  h1 {
    font-size: 25px;
  }
  p {
    font-size: 15px;
  }
}
@media screen and (max-width: 560px) {
  .image-container img {
    width: 45vw;
  }
  .line {
    width: 90%;
    height: 3px;
  }
  .text-container {
    text-align: center;
    align-items: center;
  }
  h1 {
    font-size: 25px;
  }
  p {
    font-size: 15px;
  }
}
@media screen and (max-width: 460px) {
  .text-container {
    padding-top: 0;
    width: 100%;
  }
  .about-container {
    grid-template-rows: 0.5fr 5% 3fr;
    padding: 10px;
  }
  .profile-image {
    width: 150px;
  }
  .line {
    width: 90%;
    height: 3px;
  }
  h1 {
    font-size: 20px;
    margin: 0;
  }
  p {
    font-size: 12px;
  }
}
.header-container {
  height: 80%;
  display: flex;
  justify-content: space-between;
  border-bottom: none;
}

.inverted {
  background-color: red;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-list2, .hamburger-menu {
  display: grid;
  border-bottom: none;
  grid-template-columns: repeat(4, auto);
}
.nav-list2 li, .hamburger-menu li {
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}
.nav-list2 li a:hover, .hamburger-menu li a:hover {
  opacity: 1;
  color: rgb(119, 80, 0);
}
.nav-list2 li a::before, .hamburger-menu li a::before {
  transition: 400ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: black;
  width: 0%;
  bottom: -10px;
}
.nav-list2 li a:hover::before, .hamburger-menu li a:hover::before {
  width: 100%;
}

.hamburger-container {
  display: none;
}

.hamburger-menu li {
  margin-bottom: 50px;
}
.hamburger-menu li a:hover {
  opacity: 1;
}
.hamburger-menu li a::before {
  transition: 400ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: black;
  width: 0%;
  bottom: -10px;
}
.hamburger-menu li a:hover::before {
  width: 100%;
}

.open-bars {
  transition: all 0.5s;
  margin-left: 10px;
}
.open-bars .bar1 {
  transform: rotate(45deg);
  position: relative;
  bottom: -7px;
  width: 30px;
  transition: all 0.5s;
}
.open-bars .bar2 {
  display: none;
  transition: all 0.5s;
}
.open-bars .bar3 {
  transform: rotate(-45deg);
  bottom: 8px;
  width: 30px;
  transition: all 0.5s;
}

.hamburger-icon .navBackground {
  display: none;
  background-color: #DBD8C6;
  position: absolute;
  animation: navSlide 1.5s linear;
  padding: 10px;
  height: 100%;
  width: 50%;
  transition: transform 1.5s;
}

.hamburger-menu {
  display: none;
}

.menu-name {
  margin: 0 10px 0 10px;
  font-size: 17px;
  font-weight: bold;
  color: #626056;
}

.bar1, .bar2, .bar3 {
  width: 40px;
  height: 3px;
  margin: 4px;
  border-radius: 50px;
  background-color: #626056;
}

.bar2 {
  width: 35px;
  position: relative;
  right: 0;
  margin-left: 9px;
}

.open {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
}
ul li {
  font-size: 25px;
  margin-right: 40px;
}
ul a {
  color: black;
  text-decoration: none;
}

.logo {
  margin-left: 30px;
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  .menu-list {
    display: none;
    justify-content: space-between;
  }
  .hamburger-container {
    z-index: 11;
  }
  .open .navBackground {
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: #DBD8C6;
    animation: navSlide 1.5s linear;
    width: 50%;
    height: 98%;
    top: 0;
    transition: transform 1.5s;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2745098039);
  }
  .hamburger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: 50px;
    margin-right: 50px;
  }
  .nav-item {
    margin: 20px;
  }
  .navBackground {
    display: block;
    background-color: #DBD8C6;
    position: absolute;
    top: 7%;
    right: 15px;
    padding: 10px;
    height: 91%;
  }
  .hamburger-container {
    border: 3px solid #626056;
    border-radius: 50px;
    display: flex;
    width: 120px;
    height: 25px;
    padding: 5px;
  }
}
@media screen and (max-width: 468px) {
  .menu-list {
    display: none;
    justify-content: space-between;
  }
  .hamburger-container {
    z-index: 11;
  }
  .hamburger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: 50px;
    margin-left: 10%;
  }
  .nav-item {
    margin: 20px;
  }
  .logo {
    margin-left: 10px;
    font-size: 30px;
  }
  .open .navBackground {
    width: 100%;
  }
  .hamburger-container {
    border: 3px solid #626056;
    border-radius: 50px;
    display: flex;
    width: fit-content;
    padding: 5px;
  }
}
.main {
  display: Grid;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  min-height: fit-content;
  gap: 20px;
  padding: 1rem;
  overflow: hidden;
}

.main-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item {
  font-size: 30px;
  margin-bottom: 5px;
}
.item a {
  transition: all 0.2s;
}
.item a:hover {
  color: rgb(119, 80, 0);
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .item {
    font-size: 25px;
    max-width: 500px;
  }
}
@media screen and (max-width: 568px) {
  .item {
    font-size: 22px;
    max-width: 300px;
  }
}
@media screen and (max-width: 368px) {
  .item {
    font-size: 18px;
    max-width: 180px;
  }
}

.skills .skills-container {
  display: grid;
  grid-template-rows: 1fr;
  place-items: center;
  background-color: #FFFCF6;
  padding: 1rem;
  transition: all 0.5s;
  min-height: fit-content;
  height: fit-content;
  scroll-behavior: smooth;
}
.skills .skills-container h1 {
  font-size: 40px;
}
.skills .skills-container .skills-items-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 30px;
  padding: 5%;
}
.skills .skills-container .skills-items-container h1 {
  font-size: 25px;
  max-width: 400px;
  text-align: center;
  margin-right: 40px;
}
.skills .skills-container .skills-items-container .item-one, .skills .skills-container .skills-items-container .item-two, .skills .skills-container .skills-items-container .item-three {
  width: 80%;
  height: 80%;
  background-color: #DBD8C6;
  box-shadow: 10px 10px 3px 2px #dad9d9;
  padding: 15px;
}
.skills .skills-container .skills-items-container .item-one h2, .skills .skills-container .skills-items-container .item-two h2, .skills .skills-container .skills-items-container .item-three h2 {
  font-size: 20px;
}
.skills .skills-container .skills-items-container .item-one ul li, .skills .skills-container .skills-items-container .item-two ul li, .skills .skills-container .skills-items-container .item-three ul li {
  font-size: 20px;
  list-style: disc;
}
@media screen and (max-width: 880px) {
  .skills .skills-container {
    height: fit-content;
  }
  .skills .skills-container .skills-items-container {
    display: flex;
    flex-direction: column;
  }
  .skills .skills-container .skills-items-container h2 {
    font-size: 25px;
    margin-right: 40px;
  }
  .skills .skills-container .skills-items-container .item-one h2, .skills .skills-container .skills-items-container .item-two h2, .skills .skills-container .skills-items-container .item-three h2 {
    font-size: 20px;
  }
  .skills .skills-container .skills-items-container .item-one ul li, .skills .skills-container .skills-items-container .item-two ul li, .skills .skills-container .skills-items-container .item-three ul li {
    font-size: 20px;
    list-style: disc;
  }
}
@media screen and (max-width: 580px) {
  .skills .skills-container h1 {
    font-size: 30px;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
  }
  .skills .skills-container .line {
    width: 90%;
    height: 5px;
  }
  .skills .skills-container .skills-items-container h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
  }
  .skills .skills-container .skills-items-container .item-one, .skills .skills-container .skills-items-container .item-two, .skills .skills-container .skills-items-container .item-three {
    width: 80%;
    padding: 5%;
  }
  .skills .skills-container .skills-items-container .item-one h2, .skills .skills-container .skills-items-container .item-two h2, .skills .skills-container .skills-items-container .item-three h2 {
    font-size: 14px;
  }
  .skills .skills-container .skills-items-container .item-one ul li, .skills .skills-container .skills-items-container .item-two ul li, .skills .skills-container .skills-items-container .item-three ul li {
    font-size: 15px;
    list-style: disc;
  }
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  height: fit-content;
  margin-bottom: 10%;
  gap: 10px;
}
.contact-container h2 {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 100%;
  border-bottom: 3px solid #000000;
  font-size: 40px;
}
.contact-container .form {
  width: 340px;
  height: 440px;
  background-color: #DBD8C6;
  box-shadow: 10px 10px 3px 2px #dad9d9;
  padding: 20px 30px;
  max-width: calc(60vw - 40px);
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.contact-container .form h2 {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 100%;
  border-bottom: 3px solid #000000;
  font-size: 20px;
}
.contact-container .form input, .contact-container .form textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #7e7e7e;
}
.contact-container .form input:focus {
  border-bottom: 2px solid #000000;
}
.contact-container .form p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #5a5a5a;
}
.contact-container .form button {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #313131;
  background: 0;
  cursor: pointer;
  transition: all 0.3s;
}
.contact-container .form button:hover {
  background: #555555;
  color: #fff;
}
.contact-container .form div {
  content: "Hi";
  position: absolute;
  bottom: -15px;
  right: -20px;
  background: #50505a;
  color: #fff;
  width: 320px;
  padding: 16px 4px 16px 0;
  border-radius: 6px;
  font-size: 13px;
  box-shadow: 10px 10px 40px -14px #000;
}
.contact-container .form span {
  margin: 0 5px 0 15px;
}
.contact-container .contacts-items {
  display: grid;
  grid-template-columns: 1fr;
}
.contact-container .contacts-items h1 {
  font-size: 40px;
  margin-bottom: 15px;
}
.contact-container .contacts-items table {
  width: 100%;
  margin-bottom: 20px;
}
.contact-container .contacts-items table tr td {
  margin: 0 10px;
  padding: 10px;
  font-size: 20px;
}

section {
  height: fit-content;
}

@media screen and (max-width: 980px) {
  .contact-container {
    margin-top: 10%;
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    place-items: center;
    height: 100vh;
  }
  .contact-container .contact-image {
    width: 60%;
  }
  .contact-container .contact-image img {
    width: 70%;
  }
  .contact-container .contacts-items {
    display: grid;
    grid-template-columns: 1fr;
  }
  .contact-container .contacts-items h1 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .contact-container .contacts-items table {
    width: 100%;
    margin-bottom: 20px;
  }
  .contact-container .contacts-items table tr td {
    margin: 0 10px;
    padding: 5px;
    font-size: 15px;
  }
}
@media screen and (max-width: 400px) {
  .contact-container {
    margin-top: 80%;
  }
  .contact-container .contacts-items {
    display: grid;
    grid-template-columns: 1fr;
  }
  .contact-container .contacts-items div p {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 70px 1fr;
    gap: 10px;
  }
  .contact-container .contacts-items div span {
    font-weight: bold;
  }
  .contact-container .form {
    width: 340px;
    height: 440px;
  }
  .contact-container .form h2 {
    padding-bottom: 5px;
    font-size: 15px;
  }
  .contact-container .form input {
    width: 100%;
    padding: 10px;
  }
  .contact-container .form button {
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: "Montserrat", sans-serif;
    border: 2px solid #313131;
    background: 0;
    cursor: pointer;
    transition: all 0.3s;
  }
  .contact-container .form button:hover {
    background: #555555;
    color: #fff;
  }
  .contact-container .form div {
    content: "Hi";
    position: absolute;
    bottom: -15px;
    right: -20px;
    background: #50505a;
    color: #fff;
    width: 320px;
    padding: 16px 4px 16px 0;
    border-radius: 6px;
    font-size: 13px;
    box-shadow: 10px 10px 40px -14px #000;
  }
  .contact-container .form span {
    margin: 0 5px 0 15px;
  }
}
.weiterbildung {
  width: 100%;
  height: 100vh;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: fit-content;
  width: 90%;
}
.weiterbildung h1 {
  font-size: 40px;
}
.weiterbildung .weiterbildung-container {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.weiterbildung .weiterbildung-container li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.weiterbildung .weiterbildung-container li div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70px;
  width: 25%;
  background-color: #f0efea;
  box-shadow: 10px 10px 3px 2px #dad9d9;
  padding: 15px;
  margin: 20px;
  font-size: 20px;
}
.weiterbildung .weiterbildung-container li p {
  min-height: 70px;
  width: 80%;
  background-color: #DBD8C6;
  box-shadow: 10px 10px 3px 2px #dad9d9;
  padding: 15px;
  margin: 20px;
  font-size: 20px;
}

@media screen and (max-width: 580px) {
  .weiterbildung {
    height: fit-content;
  }
  .weiterbildung h1 {
    font-size: 25px;
  }
  .weiterbildung .weiterbildung-container li {
    display: flex;
    flex-direction: column;
    font-size: 15px;
  }
  .weiterbildung .weiterbildung-container li div {
    font-size: 15px;
    padding: 5px;
    margin: 10px;
    width: 100%;
    height: 20px !important;
    text-align: center;
  }
  .weiterbildung .weiterbildung-container li p {
    font-size: 17px;
    padding: 5px;
    width: 100%;
    text-align: center;
    padding-top: 15px;
  }
}
@media screen and (max-width: 580px) and (max-width: 380px) {
  .weiterbildung .weiterbildung-container li p {
    font-size: 14px;
  }
}

/*# sourceMappingURL=index.css.map */
