.About{
    display: grid; 
    grid-template-rows: 80px 1fr;
    background-color: #FFFCF6;
    padding: 1rem;
    transition: all 0.5s; 
    box-shadow: 3px 3px 3px 2px #D1D1D1;
    min-height: fit-content;
    height: 85vh;
    overflow: hidden;
 }

.about-container{
    display: grid;
    grid-template-columns: 1fr 5% 1fr;
    place-items: center;
    padding: 2rem;
    gap:1rem;
    margin-top: 5%;
    margin-bottom: 8%;
    min-height: fit-content;
    height: fit-content
}


.section-items-conteiner{
    overflow: auto;
    scrollbar-width: none;

}

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;

    & img{
        width: 20vw;
        box-shadow: 10px 10px 0px 0px #00000048;
    }
}

.profile-image {
    width: 400px;
    transition: all 0.5s; 
    box-shadow: 10px 10px 3px 2px #DBD8C6;
}
.line{
    width: 4px;
    height:90%;
    background: #BAB6A0;}
h1{
    font-size: 40px;
    transition: all 0.5s; 
}
p{
    font-size: 20px;
    transition: all 0.5s; 
}

.text-container{
    padding: 10px;
}

@media screen and (max-width: 1200px){
        
    .image-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .profile-image {
        width: 400px;
    }
    .line{
        width: 3px;
        height:90%;
      }
    h1{
        font-size: 30px;
    }
    p{
        font-size: 18px;
    }

}

@media screen and (max-width: 768px) {
        
    .about-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5% 1fr;
        min-height: fit-content;
    }

    .image-container {
        & img{
            width: 60vw;
        }
    }
    .line{
        width: 90%;
        height:3px;
    }

    .text-container{
        text-align: center;
        align-items: center; 
        padding-top:0;   
    }
        
    h1{
        font-size: 25px;
    }
    p{
        font-size: 15px;
    }

}

@media screen and (max-width:560px) {
    .about-container{
        grid-template-rows: 1fr 5% 2fr;
        margin-top: 40px;
    }
    .image-container {
        & img{
            width: 60vw;
        }
    }
    .line{
        width: 90%;
        height:3px;
    }
    .text-container{
        text-align: center;
        align-items: center;    
    }
        
    h1{
        font-size: 25px;
    }
    p{
        font-size: 15px;
    }

}

@media screen and (max-width:460px) {
    .text-container{
        padding-top:0;
        width: 100%;
    }
    .about-container{
        grid-template-rows: .5fr 5% 3fr;
        padding: 10px;

    }
    .profile-image {
        width: 150px;
    }
    .line{
        width: 90%;
        height:3px;
    }
    h1{
        font-size: 20px;
        margin: 0;
    }
    p{
        font-size: 12px;
    }

}
