.main{
    display: Grid;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: fit-content;
    gap: 20px;
    padding: 3rem;
    overflow: hidden;
}

.main-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    
}
.item{
    font-size: 30px;
    margin-bottom: 5px;
}


@media screen and (max-width: 468px){
  
 .main{
    &  .main-items{

        & .item{
            font-size: 20px;
        }

         
     }
 }


}
