.weiterbildung{
    width: 100%;
    height: 100vh;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: fit-content;
    width: 90%;

    & h1{
        font-size: 40px;
    }

    & .weiterbildung-container{
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        & li{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            & div{
                display: flex;
                justify-content:center;
                align-items:center;
                min-height: 70px;
                width: 25%;
                background-color: #f0efea;
                box-shadow: 10px 10px 3px 2px #dad9d9;
                padding: 15px;
                margin: 20px;
                font-size: 20px;
            }
            & p{

                min-height: 70px;
                width: 80%;
                background-color: #DBD8C6;
                box-shadow: 10px 10px 3px 2px #dad9d9;
                padding: 15px;
                margin: 20px;
                font-size: 20px;
            }
  
        }
    }
}


    
@media screen and (max-width:580px) {
    .weiterbildung{
        height: fit-content;

     & h1{
        font-size: 25px;
     }
        & .weiterbildung-container{

            & li{
                display: flex;
                flex-direction: column;
                font-size: 15px;
                & div{
                    font-size: 15px;
                    padding: 5px;
                    margin: 10px;
                    width: 100%;
                    height: 20px !important;
                    text-align: center;
                    
                }
                & p{
                    font-size: 17px;
                    padding: 5px;
                    width: 100%;
                    text-align: center;
                    padding-top: 15px;

                    @media screen and (max-width:380px) {
                        font-size: 14px;
                    }
                }
      
            }
        }
    }

}   

