body, html{
    width:100%;
    margin: 0;
    background-color: #DAD8CC;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;

  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
      
  }
a{
  text-decoration: none;
  color: black;
}
.footer_item{
  width: 250px;
  font-size: 20px;
}
.footer_link:hover{
  font-weight: bold;

}

*{
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  height: 80%;

}

/* Track */
::-webkit-scrollbar-track {
  box-shadow:  0 0 2px grey; 
  height: 90%;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(172, 161, 131); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a17030; 

}

@import 'about';
@import 'header';
@import 'main';
@import 'skills';
@import 'contact';
@import 'weiterbildungs';